body {
  text-rendering: optimizeLegibility;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  background: #cecece;
  color: #222;
  font-size: 1em;
  line-height: 1.3;
  font-family: -apple-system,BlinkMacSystemFont,HelveticaNeue,Helvetica,Roboto,Arial,sans-serif;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: #00D9D5;
}

.window {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
}

#container {
  width: 40vw;
  height: 20vw;
  position: relative;
  perspective: 39vw;
}
#room {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-origin: 50% 80% 20vw;
  transform-style: preserve-3d;
}
#room figure {
  margin: 0;
  display: block;
  position: absolute;
  font: 40px;
  text-align: center;
}

.content {
  width: 30vw;
  height: 20vw;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content img {
  display: block;
  width: 45%;
  height: 80%;
  object-fit: contain;
}

#room .n,
.e,
.s,
.w {
  width: 40vw;
  height: 20vw;
}
#room .n {
  background: #e9e9e9;
  box-shadow: 0 0 0 2px #e9e9e9;
}
#room .e {
  background-color: #dbdbdb;
}
#room .s {
  background-color: #dbdbdb;
  background: #e9e9e9;
  box-shadow: 0 0 0 2px #e9e9e9;
}
#room .w {
  background-color: #dbdbdb;
}
#room .t, .b {
  width: 40vw;
  height: 40vw;
  top: -10vw;
  background: linear-gradient(to bottom, rgba(206,206,206,1) 0%,rgba(206,206,206,0) 20%,rgba(206,206,206,0) 80%,rgba(206,206,206,1) 100%);
}
/* transform & inverse */

#room .n {
  transform: rotateY(0deg) translateZ(0px);
}
#room .e {
  transform: rotateY(-90deg) translateZ(-20vw) translateX(20vw);
}
#room .s {
  transform: rotateY(180deg) translateZ(-40vw);
}
#room .w {
  transform: rotateY(90deg) translateZ(-20vw) translateX(-20vw);
}
#room .t {
  transform: rotateX(90deg) translateZ(10vw) translateY(20vw);
}
#room .b {
  transform: rotateX(90deg) translateZ(-10vw) translateY(20vw);
}

.arrows {
  position: absolute;
  z-index: 9;
  bottom: 1.5vw;
  width: 100%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

.arrow {
  padding: 30px 30px;
  color: #555;
  cursor: pointer;
  font-size: 20px;
  margin-right: .5vw;
  transition: opacity ease-in-out .2s;
}

.arrow:hover {
  opacity: .5;
}

.arrow:last-child {
  margin-right: 0;
  margin-left: .5vw;
}

#room {
  transform: rotateY(0deg);
  transition: transform ease-in .5s;
}